@model List<DesignPattern.Facade.DAL.Product>
@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Views/Shared/_FacadeLayout.cshtml";
}

<h2>Müşteri Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <td>Ürün Adı</td>
        <td>Ürün Fiyatı</td>
        <td>Ürün Stok Sayısı</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductID</td>
            <td>@item.ProductName</td>
            <td>@item.ProductPrice</td>
            <td>@item.ProductStock</td>
        </tr>
    }
</table>
<a href="/Product/AddNewProduct" class="btn btn-primary">Yeni Müşteri Girişi</a>

